html {
  scroll-behavior: smooth;
}

.App {
  background: linear-gradient(to bottom, rgb(68, 68, 68), #000000)
}

/* card structure */ 

.card {
  background: #3c3c3c;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.5);
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.card-text {
  flex: 1 1 20%;
  color: #ffffff;
  text-align: left;
}

.card-graph {
  flex: 1 1 65%;
}

.card-graph h2 {
  color: #fff;
}

.card-text h2 {
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

.card-text p {
  line-height: 1.6;
  font-size: 1.1rem;
}

/* page banner */

.titleblock {
  height: 100vh;
  color: #fff;
  background-color: #000;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)), url("/public/graduation.jpg");
  background-size: cover;
  background-position: center;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: relative;
  display: flex;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
}

.titleblock p {
  font-size: large;
}

.titleblock a {
  text-decoration: none;
  display: inline-block;
  border: 2px solid #FFFFFF;
  color: #fff;
  padding:14px 70px;
  border-radius: 30px;
  margin-top: 20px;
  transition: 0.5s;
  font-family: 'Open Sans', sans-serif;
}

.titleblock a:hover {
  background-color: #ffffff;
  color: #000;
}

.hometext {
  padding: 8%;
}
.hometext h1 {
  font-size: 280%;
}

.hometext h2 {
  font-size: 200%;
}

/* section 1 */ 

#section-1 {
  display: flex;
  gap: 30px; 
  align-items: stretch;
  padding: 2%;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
}

#section-1 p {
  font-size: medium;
}

#scatterplot2 {
  display: flex;
  flex: 3.5;
} 

#keystats {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 4%;
  
}

#keystats p {
  font-size: medium;
}

#keystats h3 {
  font-size: small;
}

/* section 2 */ 

#section-2 {
  display: flex;
  gap: 30px; 
  align-items: flex-start;
  padding: 3%;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
}

#section-2 p {
  font-size: medium;
}

#scatterplot {
  display: flex;
  flex: 3.5;
}

#scatterplot-info {
  display: flex;
  flex: 1;
}

/* section 3 */ 

#section-3 {
 display: flex;
 align-items: center;
 justify-content: center;
 padding: 1%;
 font-size: larger;
 font-family: Arial, Helvetica, sans-serif;
}

#section-3 p {
  font-size: medium;
}

#BarChart {
  max-height: 85%;
}

/* section 4 */ 

#section-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1%;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
 }

 #section-4 p {
  font-size: medium;
}

 #StackedBar {
  max-width: 70%;
}

#section-5 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3%;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
 }

 #section-5 p {
  font-size: medium;
}

 #conclusion {
  max-width: 70%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
