.App {
  text-align: center;
  justify-content: center;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
}

.App p {
  line-height: 200%;
  font-size: larger;
}

.titleblock {
  height: 100vh;
  color: #fff;
  background-color: #000;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)), url("/public/graduation.jpg");
  background-size: cover;
  background-position: center;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: relative;
  display: flex;
}

.titleblock p {
  font-size: x-large;
}

.hometext {
  padding: 8%;
}
.hometext h1 {
  font-size: 300%;
}

.hometext h2 {
  font-size: 220%;
}

.scatterplot {
  padding-bottom: 3%;
  padding-top: 2%;
  background-color: #142552;
}

.scatterplot p{
  color:#fff;
}

.scatterplot h2{
  color:#fff;
}

.scatterplot2 {
  padding-bottom: 3%;
  padding-top: 2%;
  background-color: #000000;
}

.scatterplot2 p{
  color:#fff;
}

.scatterplot2 h2{
  color:#fff;
}

.stackedbar {
  padding-bottom: 3%;
  padding-top: 3%;
  background-color:#142552;
}

.stackedbar p{
  color:#fff;
}

.stackedbar h2{
  color:#fff;
}

.groupedbar {
  padding-bottom: 5%;
  padding-top: 3%;
  background-color: #000000;
}

.groupedbar p{
  color:#fff;
}

.groupedbar h2{
  color:#fff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
